.page-update-user {
  min-height: 100vh;
}



.page-update-user main {
  max-width: 27rem;
  margin: auto;
}

.page-update-user h1 {
  padding-bottom: 32px;

}

.page-update-user main .form  {
  padding: 45px 50px 60px;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 60px;
  width: 33rem;
}

.page-update-user .btn-update {
  width: 100%;
  padding: 9px 0;
  border-radius: 4px;
  margin-top: 10px;
}