.page-cart article {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0px;
  column-gap: 3.5rem;
}

.card-product-cart img {
  width: 134px;
  height: auto;
  object-fit: contain;
}

.name_price-cart .name {
  width: 190px;
  font-size: 1rem;
  color: rgb(115, 113, 113);
  font-weight: 500;
}

.name_price-cart .name:hover {
  color: orange;
}

.name_price-cart .title {
  font-size: 1.4rem;
  font-weight: 600;
  color: orange;
}

.btn-plus-cart {
  height: fit-content;
  color: white;
  background-color: red;
  border: none;
  padding: 0 8px 4px;
  align-items: center;
  font-weight: 700;
  border-radius: 4px;
}

.btn-minus-cart {
  height: fit-content;
  color: white;
  background-color: blue;
  border: none;
  padding: 0 8px 4px;
  align-items: center;
  font-weight: 700;
  border-radius: 4px;
  margin-left: 15px;
}

.btn-trash-cart {
  border: none;
  background-color: white;
  display: flex;
  align-items: flex-start;
}

.page-cart .card-order {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 125px;
  padding: 30px 25px;
  border-radius: 12px;
}

.page-cart .card-order h5 {
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.page-cart .card-order div {
  font-size: 1.1rem;
}

.page-cart .card-order span {
  font-weight: 600;
}


.page-cart .card-order .total {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page-cart .card-order .btn-checkout {
  border: none;
  background-color: orange;
  width: 100%;
  margin-top: 30px;
  border-radius: 20px;
  padding: 8px 0;
  color: white;
  font-weight: 500;
}

.page-cart .card-order .btn-checkout:hover {
  background-color: rgba(222, 144, 0, 0.933);
}