.page-myprofile {
  margin-left: 140px;
}

.page-myprofile img {
  width: 280px;
  height: 280px;
  border-radius: 9999px;
  object-fit: cover;
  margin-left: 80px;
}

.page-myprofile .left-profile .btn-edit{
width: 280px;
margin-left: 80px;
margin-top: 50px;
  padding: 6px 0;
  border-radius: 6px;
}

.page-myprofile .right-profile h5 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 1.5rem;
}

.page-myprofile .right-profile p {
  font-size: 1.1rem;
}

.page-myprofile .right-profile button{
  width: 100%;
  margin-bottom: 16px;
  font-weight: 500
}

