.page-shipping .form {
  max-width: 28rem;
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.1);
  margin: 90px auto 0;
  padding: 35px 50px 40px;

}

.page-shipping h1 {
  margin-bottom: 25px;
}

.page-shipping .form .btn-continue {
  padding: 18px 0;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 22px;
}