* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-orange {
  color: white;
  background-color: orange;
  border-radius: 25px;
  font-weight: 500;
  border: none;
}

.btn-orange:hover {
  background-color: rgba(218, 141, 0, 0.981);
}

.icon-star {
  width: 18px;
  color: goldenrod;
}

.loader {
  display: block;
  margin: 20% auto 0;
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.loader:after  {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid orange;
  border-color: orange transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}