.page-change-password {
  max-width: 28rem;
  margin: auto;
}

.page-change-password .form {
  box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.1);
  padding: 35px 50px 50px;
  margin-top: 90px;
}

.page-change-password .form h1 {
  margin-bottom: 50px;
}

.page-change-password .form .btn-update {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 10px;
}